<%= link_to "Back to Articles", articles_path %>
<div>
  <h1><%= @article.title %></h1>
  <p>Published <%= @article.created_at.strftime("%b %d, %Y") %></p>
  <p>Filed under: <% @article.categories.each do |cat| %>
    <%= cat.name %>&nbsp;<% end %>
  </p>
  <div><%= @article.content %></div>
</div>
<br>
<%= link_to "Back to Articles", articles_path %>