<%= link_to "Back to Articles", articles_path %> | 
<%= link_to "Home", root_path %>
<div class="show-article">
  <h1><%= @article.title.titleize %></h1>
  <p><em><%= @article.created_at.strftime("%b %d, %Y") %></em></p>
  <div><%= @article.content %></div>
</div>
<br>
<%= link_to "Back to Articles", articles_path %> | 
<%= link_to "Home", root_path %>